* {
    color: grey;
}

.navbar {
    position: sticky;
    top: 0;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
}

.navbar a {
    color: grey;
    text-decoration: none;
    margin: 10px;
    font-family: "Zen tokyo zoo";
}

a:hover {
    color: #00b39b;
}

#list {
    display: none;
}

#Aboutus, h1 {
    color: #00b39b;
}

h1 {
    text-align: center;
    font-family: "Source sans pro";
}

#Logo {
    position: sticky;
    float: left;
    top: 0;
}

#image {
    display: block;
    margin: 10px auto 20px;
}

#Forpatients {
    background-color: #00b39b;
    width: 300px;
    height: 300px;
    border-style: none;
    border-radius: 15px;
}

#Fordoctors {
    background-color: #3d83df;
    width: 300px;
    height: 300px;
    border-style: none;
    border-radius: 15px;
}

#Forclinics {
    background-color: #1b2734;
    width: 300px;
    height: 300px;
    border-style: none;
    border-radius: 15px;
}

#Cards {
    display: flex;
    justify-content: space-around;
}

h2, h3 {
    color: white;
    font-family: "Source sans pro";
    margin: 20px;
}

select {
    margin: 20px;
    border: none;
    color: white;
}

#Forpatients select{
    background-color: #00b39b;
}

#Fordoctors select {
    background-color: #3d83df;
}

#Forclinics select {
    background-color: #1b2734;
}

#Paragraphe {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}



#Active, #Unique, #Appointments, #Leader {
    background-color: white;
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 7px;
    border-style: none;
    border-radius: 5px;
}

#Cards3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
}

.button {
    color: white;
    background-color: #3d83df;
    border-style: none;
    border-radius: 4px;
    display: inline-block;
    margin-left: 150px;
}

#btn {
    color: white;
    background-color: #3d83df;
    border-style: none;
    border-radius: 4px;
    display: inline-block;
    width: 210px;
    height: 40px;
}

footer{
    text-align: center;
}

#Paragraphe p {
    width: 40%;
}

#Section {
    width: 40%;
}

#Middle {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
}

#Middle h1  {
    grid-column: 3 / 7;
    grid-row: 3;
}

#Middle p {
    display: inline;
    grid-column: 3 / 8;
    grid-row: 8;
}

#Leader {
    grid-column: 12 / 14;
    grid-row: 2;
}

#Appointments {
    grid-column: 16 / 17;
    grid-row: 2;
}

#Active {
    grid-column: 12 / 14;
    grid-row: 9;
    width: 220px;
}

#Unique {
    grid-column: 16 / 17;
    grid-row: 9;
}

.Cities p {
    display: inline-block;
}

.Cities img{
    display: block;
}

.Cities {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

#MexicoCity img {
    padding: 0;
}

#Leader, #Unique, #Appointments, #Active p {
    padding-left: 10px;
    padding-right: 10px;
}

.Cities:hover {
    animation: changement 2s;
}

@keyframes changement {
    100% {color: rgb(0, 0, 0);}
    75% {color: rgb(80, 80, 80);}
    50% {color: rgb(126, 126, 126);}
    25% {color: rgb(187, 187, 187);}
    0% {color: white;}
}